/WebApiTest_RouteAttribute/*.user
/WebApiTest_RouteAttribute/*.suo
/WebApiTest_RouteAttribute/Web.Api/bin
/WebApiTest_RouteAttribute/Web.Api/obj
/WebApiTest_RouteAttribute/Web.Api.Tests/bin
/WebApiTest_RouteAttribute/Web.Api.Tests/obj
/WebApiTest_RouteTemplate/*.user
/WebApiTest_RouteTemplate/*.suo
/WebApiTest_RouteTemplate/Web.Api/bin
/WebApiTest_RouteTemplate/Web.Api/obj
/WebApiTest_RouteTemplate/Web.Api/*.user
/WebApiTest_RouteTemplate/Web.Api.Tests/bin
/WebApiTest_RouteTemplate/Web.Api.Tests/obj
/WebApiTest_RouteAttribute/Web.Api/*.user
/WebApiTest_RouteTemplate/packages
/WebApiTest_RouteAttribute/Web.Api/Web.Api.csproj.user
/WebApiTest_RouteAttribute/packages
/WebApiTest_Ioc/Db/obj
/WebApiTest_Ioc/Db/bin
/WebApiTest_Ioc/packages
/WebApiTest_Ioc/Web.Api/obj
/WebApiTest_Ioc/Web.Api/bin
/WebApiTest_Ioc/Web.Api/Web.Api.csproj.user
/WebApiTest_Ioc/WebApiTest.sln.DotSettings.user
/WebApiTest_Ioc/*.user
/WebApiTest_Ioc/*.suo
/WebApiTest_Ioc/Web.Api.Tests/bin
/WebApiTest_Ioc/Web.Api.Tests/obj
/WebApiTest_Sdk/Db/bin
/WebApiTest_Sdk/Db/obj
/WebApiTest_Sdk/Db.Model/bin
/WebApiTest_Sdk/Db.Model/obj
/WebApiTest_Sdk/packages
/WebApiTest_Sdk/*.user
/WebApiTest_Sdk/*.suo
/WebApiTest_Sdk/Web.Api/*.user
/WebApiTest_Sdk/Web.Api/bin
/WebApiTest_Sdk/Web.Api/obj
/WebApiTest_Sdk/Web.Api.Sdk/bin
/WebApiTest_Sdk/Web.Api.Sdk/obj
/WebApiTest_Sdk/Web.Api.Sdk.Tests/bin
/WebApiTest_Sdk/Web.Api.Sdk.Tests/obj
/WebApiTest_Authorized/Db/bin
/WebApiTest_Authorized/Db/obj
/WebApiTest_Authorized/Db.Model/bin
/WebApiTest_Authorized/Db.Model/obj
/WebApiTest_Authorized/packages
/WebApiTest_Authorized/Web.Api/bin
/WebApiTest_Authorized/Web.Api/obj
/WebApiTest_Authorized/Web.Api/*.user
/WebApiTest_Authorized/Web.Api.Tests/bin
/WebApiTest_Authorized/Web.Api.Tests/obj
/WebApiTest_Authorized/*.user
/WebApiTest_Authorized/WebApiTest.v12.suo
/WebApiTest_HttpClient_ResponseObject/packages
/WebApiTest_HttpClient_ResponseObject/*.user
/WebApiTest_HttpClient_ResponseObject/*.suo
/WebApiTest_HttpClient_ResponseObject/Web.Api/*.user
/WebApiTest_HttpClient_ResponseObject/Web.Api/bin
/WebApiTest_HttpClient_ResponseObject/Web.Api/obj
/WebApiTest_HttpClient_ResponseObject/Web.Api.Tests/bin
/WebApiTest_HttpClient_ResponseObject/Web.Api.Tests/obj
