/WebApiTest_RouteAttribute/*.user
/WebApiTest_RouteAttribute/*.suo
/WebApiTest_RouteAttribute/Web.Api/bin
/WebApiTest_RouteAttribute/Web.Api/obj
/WebApiTest_RouteAttribute/Web.Api.Tests/bin
/WebApiTest_RouteAttribute/Web.Api.Tests/obj
/WebApiTest_RouteTemplate/*.user
/WebApiTest_RouteTemplate/*.suo
/WebApiTest_RouteTemplate/Web.Api/bin
/WebApiTest_RouteTemplate/Web.Api/obj
/WebApiTest_RouteTemplate/Web.Api/*.user
/WebApiTest_RouteTemplate/Web.Api.Tests/bin
/WebApiTest_RouteTemplate/Web.Api.Tests/obj
/WebApiTest_RouteAttribute/Web.Api/*.user
/WebApiTest_RouteTemplate/packages
/WebApiTest_RouteAttribute/Web.Api/Web.Api.csproj.user
/WebApiTest_RouteAttribute/packages
/WebApiTest_Ioc/Db/obj
/WebApiTest_Ioc/Db/bin
/WebApiTest_Ioc/packages
/WebApiTest_Ioc/Web.Api/obj
/WebApiTest_Ioc/Web.Api/bin
/WebApiTest_Ioc/Web.Api/Web.Api.csproj.user
/WebApiTest_Ioc/WebApiTest.sln.DotSettings.user
/WebApiTest_Ioc/*.user
/WebApiTest_Ioc/*.suo
/WebApiTest_Ioc/Web.Api.Tests/bin
/WebApiTest_Ioc/Web.Api.Tests/obj
